* {
    border: none;
    border-radius: 0px;
    font-family: "Trebuchet MS";
    font-size: 14px;
    letter-spacing: 0.35px; 
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: black ;
    /* #464646 */
}
#window {
    font-weight: bold;
    font-family: "monospace";
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: black ;
    border-top: 2px solid transparent;
}
#workspaces button.active {
    color: #000;
    background-color: #dde4ed;
    /* border-top: 2px solid #464646; */
}
#mode {
    background: black;
    background-color: #f5f0e3;
    /* border-bottom: 3px solid white; */
}

#clock, 
#battery, 
#power-profiles-daemon, 
#idle_inhibitor, 
#backlight, 
#network, 
#pulseaudio, 
#tray, 
#mode {
    padding: 0 4px;
    margin: 0 3px;
}

#clock {
    font-weight: bold;
}


#battery icon { color: #be0e21; }
#battery.charging { color: black; }
#battery.warning:not(.charging) {
    color: black ;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network.disconnected {
    color: #be0e21;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}